.App {
  
  display: flex;
  background-color: blue;
  justify-content: center;
  border-radius: 15px;
}
  
.card-content{
  width: 400px;
  border: 1px solid whitesmoke;
  margin: 30px;
  font-size: 15px;
  justify-content: center;
  background-color:aliceblue;
  padding: 5px;
  letter-spacing: .1rem;
  border-radius: 15px;
}
.hander{
  text-align: center;
}
.subhander{
  text-align: center;
}
.d-grid{
font-size: 15px;
  border-radius: 5rem;
  text-align: center;
  font-weight: bold;
  padding: 1rem;
 background-color: blue;
  color:black
}


